name: Build

on:
  push:
    branches:
      - master
      - feature/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 24.x
        uses: actions/setup-node@v3
        with:
          node-version: 24.x
      - name: "Install dependencies"
        run: |
          npm install
      - name: "Check if build runs"
        run: |
          npm run build
      - name: "Check if tests pass"
        working-directory: ./server
        run: |
          npm run test:cov
      - name: "Check if linting passes"
        working-directory: ./server
        run: |
          npm run lint
      - uses: codecov/codecov-action@v5
        with:
          directory: ./server/coverage
