name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release_github:
    runs-on: ubuntu-latest
    steps:
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
  release_prod:
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: ${{ secrets.SCRIPT }}
  release_docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: build container
        run: |
          docker build -t proohit/find-my-anime:latest .
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Tag versions and push to DockerHub
        working-directory: ./server
        run: |
          VERSION=$(node -p "require('./package.json').version")
          docker tag proohit/find-my-anime:latest proohit/find-my-anime:$VERSION
          docker push proohit/find-my-anime:$VERSION
          docker push proohit/find-my-anime:latest
